<header class="masthead text-white text-center">
  <div class="overlay"></div>

<h4>Notes</h4>

<div class="lines"></div>

<ul class="list">
  <li>Eat Breakfeast</li>
  <li>Feed Pugsly, the cow</li>
  <li>Sit Down</li>
  <li>Eat lunch</li>
  <li>Call mom</li>
  <li>Tweet about feeding my cow, pugsly</li>
  <li>Join a hangout in google+</li>
  <li>Prepare Dinner</li>
  <li>Eat Dinner</li>
  <li>Get ready for bed</li>
  <li>Go to bed</li>
  </ul>
    <div>
  <i class="fas fa-equals fa-5x"></i>
  </div>
  <div class="gauche">
  <h4>Notes</h4>

  <div class="lines"></div>

  <ul class="list">
    <li>Eat Breakfeast</li>
    <li>Feed Pugsly, the cow</li>
    <li>Sit Down</li>
    <li>Eat lunch</li>
    <li>Call mom</li>
    <li>Tweet about feeding my cow, pugsly</li>
    <li>Join a hangout in google+</li>
    <li>Prepare Dinner</li>
    <li>Eat Dinner</li>
    <li>Get ready for bed</li>
    <li>Go to bed</li>
    </ul>
</div>
</header>
