<header class="masthead text-white text-center">
  <div class="overlay"></div>

<h4>kurde</h4>

<div class="lines"></div>

<ul class="list">
  <li>{{ wordData.Kurde }} <i class="fas fa-volume-up"></i></li>
  <li>Turquie:</li>
  <li>{{ wordData.Turquie }}</li>
  <li>Iran:</li>
  <li>{{ wordData.Iran }}</li>
  <li>Syrie:</li>
  <li>{{ wordData.Syrie }}</li>
  <li>Iraque:</li>
  <li>{{ wordData.Irak }}</li>
  <li>&nbsp;&nbsp;</li>
  <li>&nbsp;</li>
  <li></li>
  </ul>
    <div>
  <i class="fas fa-equals fa-5x"></i>
  </div>
  <div class="gauche">
  <h4>Français</h4>

  <div class="lines"></div>

  <ul class="list">
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li>{{ wordData.Francais }}</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    </ul>
</div>
</header>
