<header class="masthead text-black">
    <div class="overlay"></div>
<div class="container">
  <div class="text-xs-center">
    <h1 class="display-3">Merci!</h1>
    <p class="lead"><strong>Vérifiez votre e-mail</strong> pour obtenir des instructions supplémentaires sur la procédure de configuration de votre compte.p>
    <hr>
    <p class="lead">
      <a class="btn btn-primary btn-sm" routerLink="/seconnecter" role="button">Se Connceter</a>
    </p>
  </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</header>
