/* You can add global styles to this file, and also import other style files */
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}
body {
  background: #007bff;
  background-color: #343a40;
  background: url("./assets/recherche.jpg") no-repeat center center;
}
